
  .header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color: #212124;
  }
  
  .dash-right {
    display: flex;
    width: 70%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
    height: 100vh;
    overflow: auto;
  }
  
  .header-left h1 {
    color: red;
    width: 100px;
    margin-top: 2vh;
    margin-left: 1vw;
  }
  .header h1 {
    margin-left: 25vw;
  }
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: white;
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
  }
  
  :root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
  }
  
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    display: block;
  }
   .container p{
    color: black;
    font-weight: bold;
   }
  
  .header {
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
  }
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
  }
  
  .agora {
    font-weight: 800;
  }

  .grafico{
    display: flex;
    flex-direction: column;
    width: 79.8%;
    height: 100%;
  
  }
  .grafico2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 20vw;
    border-bottom: 10px solid white;
    text-align: center;
  }
  .span_grafico{
    color: #fff;
    width: 30%;
    align-self: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .span_grafico_div{
    color: #fff;
    width: 30%;
    align-self: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10vw;
  }
  .titulo h1{
    color: red;
    width: 100px;
    margin: 0;
  }  
  .header h1 {
    margin-left: 30vw;
  }
  .logo{
    width: 80px;
    height: 80px; 
    }
    .logo img{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 10px;
    }
    .cleber{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }