.header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color: #212124;
  }
  
  .dash-right {
    display: flex;
    width: 70%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
    height: 100vh;
    overflow: auto;
  }
  
  .header-left h1 {
    color: #32b9cd;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: white;
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
  }
  
  :root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
  }
  
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    height: 100vh;
    justify-content: center;
  }
   .container p{
    color: black;
    font-weight: bold;
   }
   .card {
    width: 50vw;
    height: 50%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    flex-direction: column;
    height: fit-content;
    padding: 100px 0;
    margin-left: 10vw;
    opacity: 90%;
  }
  .card2 {
    width: 50vw;
    height: 50%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    flex-direction: column;
    height: fit-content;
    margin-left: 10vw;
    opacity: 90%;
  }

  .card2 h2 {
    margin: 0;
    font-size: 35px;
  }
  
  .card h2 {
    margin: 0;
    font-size: 45px;
  }
  .card h3 {
    margin: 0;
    font-size: 25px;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formulario span {
    font-size: 25px;
    font-weight: 800;
  }
  
  .formulario input {
    border: 2px solid #32b9cd;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    padding: 20px;
  }
  
  .formulario select {
    border: 2px solid #32b9cd;
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
  }
  
  .botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #e6005a;
    width: 120px;
    height: 30px;
    align-self: center;
    margin-top: 20px;
  }
  .botao2 {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #e6005a;
    width: 120px;
    height: 60px;
    align-self: center;
    margin-top: 20px;
  }
  .login {
    height: 100vh;
    background-image: url('../assets/imgs/magic_banner.jpg');
    background-size: cover;
  }
  
  .login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .checkbox{
    display: flex;
    justify-content: space-between;
  }
  .checkbox{
  font-size: 20px;
  }
  .checkbox2 input{
    padding: 40px;
    }